<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>


	<logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
	<logger name="org.hibernate" level="INFO"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
	<logger name="org.crsh.plugin" level="WARN"/>
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
	<logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
	<logger name="org.thymeleaf" additivity="false">
		<appender-ref ref="DEBUG_LEVEL_REMAPPER"/>
	</logger>
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.apache.http" level="INFO"/>
	<logger name="com.vlls.cloud" level="DEBUG"/>
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
